$dark-background-color: #fcfcfc;

body {
}

button {
  outline: none !important;
}

h1 {
  font-weight: 300;
}

header {
  h1 {
    font-size: 2rem;
    padding-top: 2rem;
    font-weight: 300;

    @media (max-width: 385px) {
      padding-top: 0;
      font-size: 1.5rem;
    }
  }

  .sharing-links {
    padding-top: 2.5rem;
    color: #455068;
    span { padding-left: 1rem; }

    @media screen and (max-width: 48em) {
      padding-top: 0;
      text-align: center;
    }
  }

  a {
    text-decoration: none;
  }
}

.hdo-card {
  background-color: #fff;
  box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
  margin-top: 2rem;

  .hdo-card-header {
    background-color: $dark-background-color;
    margin-left: 0;
    margin-right: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: 0 1px rgba(0,0,0,.12);

    $border-color: #ddd;

    &.top-border {
      border-top: 1px solid $border-color;
    }

    &.bottom-border {
      border-bottom: 1px solid $border-color;
    }
  }
}

.spinner {
  width: 60px;
  margin: 0 auto;
}

main {
  @extend .hdo-card;
  margin: 1rem 0;
}

.clickable {
  cursor: pointer;
}

.hdo-logo {
  margin-top: 1rem;
  padding-top: 3rem;
  text-align: left;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: auto 2.5rem;

  @media screen and (max-width: 48em) {
    text-align: center;
    background-position: 50% 0;
  }
}

.other-services {
  a {
    text-decoration: none;
  }

  .service {
    filter: grayscale(0.4);
    transition: all 0.3s ease;

    .img {
      background-repeat: no-repeat;
      background-size: cover;
      height: 200px;
      background-position: 50% 50%;
    }

    &:hover {
      filter: none;
      background-color: lighten(#b8bfcc, 15%);
      // a { color: #eee; }
    }
  }
}

a {
  color: inherit;
  text-decoration: underline;

  &:active, &:hover {
  }
}

html ::selection {
    background-color: #fadd00;
}

@media screen and (max-width: 48em) {
  mark {
    line-height: 3rem;
  }
}

.table {
  color: #333;
  font-size: 1.3rem;
  font-weight: 300;
  border-bottom: 1px solid #eceeef;
  margin-bottom: 0;

  th, td {
    text-align: center;
    vertical-align: middle;
    border-top: none;
  }

  a {
    text-decoration: none;
  }

  .diagonal {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAIAAABvrngfAAAAK0lEQVQImWM4c+bMf1TA+P//fwYkcPbsWQZkeYgOBjQ+QgjZRAY0/v///wEsaFwPg05jgQAAAABJRU5ErkJggg==");
  }

  td:hover, td a:hover {
    font-weight: 400;
  }

  th.highlight {
    background-color: #efefef;
    opacity: 1;
  }

  .party-logo {
    width: 48px;
  }

  @media (max-width: 34em) {
    font-size: .9rem;

    .party-logo {
      width: 26px;
    }
  }

}

.party-logo {
  width: 96px;
}

.session-selector {
  text-align: center;

  .btn-group {
    margin-left: 2rem;
    float: none;
  }
}

footer {
  display: block;
  position: relative;
  margin: 4rem 0;
  text-align: center;
  opacity: 0.8;

  .links {
    padding-top: 1rem;

    a {
      text-decoration: none;
    }
  }
}

@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 200%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInUp {
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-fill-mode: both;
}
.fadeInDown {
  animation-name: fadeInDown;
  animation-duration: 1s;
  animation-fill-mode: both;
}