$dark-background-color: #fcfcfc;

button {
  outline: none !important;
}

header {
   h1 {
    font-size: 2rem;
    padding-top: 2rem;
    font-weight: 300;
  }

  a {
    text-decoration: none;
  }
}

.hdo-card {
  background-color: #fff;
  box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
  margin-top: 2rem;

  .hdo-card-header {
    background: $dark-background-color;
    margin-left: 0;
    margin-right: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: 0 1px rgba(0,0,0,.12);
  }
}

.spinner {
  width: 60px;
  margin: 0 auto;
}

main {
  @extend .hdo-card;
  margin: 1rem 0;
}

.clickable {
  cursor: pointer;
}

.hdo-logo {
  margin-top: 1rem;
  padding-top: 3rem;
  text-align: left;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: auto 2.5rem;
}

a {
  color: inherit;
  text-decoration: underline;

  &:active, &:hover {
  }
}

html ::selection {
    background-color: #fadd00;
}

.table {
  color: #333;
  font-size: 1.3rem;
  font-weight: 300;

  th, td {
    text-align: center;
    vertical-align: middle;
  }

  a {
    text-decoration: none;
  }

  .diagonal {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAIAAABvrngfAAAAK0lEQVQImWM4c+bMf1TA+P//fwYkcPbsWQZkeYgOBjQ+QgjZRAY0/v///wEsaFwPg05jgQAAAABJRU5ErkJggg==");
  }

  td:hover, td a:hover {
    color: inherit;
    font-weight: 600;
  }

  th {
  }

  th.highlight {
    background-color: #efefef;
    filter: grayscale(1.0);
  }
}

.session-selector {
  text-align: center;

  .btn-group {
    float: none;
  }
}

.nav {
  text-align: center;
}

.sparkline {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

footer {
  display: block;
  position: relative;
  margin: 4rem 0;
  text-align: center;
  opacity: 0.8;

  .links {
    padding-top: 1rem;

    a { 
      text-decoration: none;
    }
  }
}

@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}