header h1 {
  font-size: 2rem;
  padding-top: 2rem;
  font-weight: 300;  
}

body {
  color: #333;
  background-color: #fafafa;
}


.hdo-card {
  background-color: #fff;
  box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
  margin-top: 2rem;

  .hdo-card-header {
    background: #fcfcfc;
    margin-left: 0;
    margin-right: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: 0 1px rgba(0,0,0,.12);
  }
}

main {
  @extend .hdo-card;
  margin: 1rem 0;
}

.hdo-logo {
  margin-top: 1rem;
  padding-top: 3rem;
  text-align: left;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: auto 2.5rem;
}

a {
  color: inherit;
  text-decoration: none;

  &:active, &:hover {
    text-decoration: underline;
  }
}

html ::selection {
    background-color: #fadd00;
}

.table {
  color: #333;
  font-size: 1.3rem;

  th, td {
    text-align: center;
    vertical-align: middle;
  }

  .diagonal {

  }
}

.nav {
  text-align: center;

  .nav-link {
    padding: .8rem;
    border: 1px solid transparent;

    &:hover {
      text-decoration: underline;
    }

    &.active {
      text-decoration: underline;
      font-weight: 600;
    }
  }
}

.sparkline {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

footer {
  display: block;
  position: relative;
  margin: 4rem 0;
  text-align: center;
  opacity: 0.8;
}
